.MimeTimeline {
  position: relative;
  width: 100%;
}

.XAxesLabel {
  height: 20px;
  position: relative;

  > div {
    position: absolute;
  }
}

.Content {
  position: relative;
}

.OnLoadMarker {
  bottom: 0;
  background-color: green;
  position: absolute;
  top: 0;
  width: 3px;
}

.ContentLoadMarker {
  bottom: 0;
  background-color: red;
  position: absolute;
  top: 0;
  width: 3px;
}

.MimeRow {
  height: 40px;
  position: relative;
  margin-bottom: 10px;
}

.MimeTimeSpan {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  position: absolute;
}
